* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  margin: 10px;
}